.login {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("../../assets/bg_login_vieon.png");
  background-size: cover;
  position: relative;

  .top {
    padding: 20px 30px;

    .link {
      text-decoration: none; /* Loại bỏ gạch chân */
      span {
        color: green;
        font-size: 40px;
        margin-left: 20px;
        font-weight: bold;
      }
    }
  }

  .container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
    width: 100%;

    form {
      padding: 30px; /* Thêm khoảng cách bên trong */
      border-radius: 10px; /* Bo góc khung */
      background-color: var(--main-color); /* Nền đen trong suốt */
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Đổ bóng */
      width: 100%;
      max-width: 400px; /* Giới hạn độ rộng */
      display: flex;
      gap: 15px; /* Khoảng cách giữa các input */
      flex-direction: column;
      align-items: center;

      p {
        font-size: 24px;
        color: white;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center; /* Căn giữa nội dung */
      }

      input {
        width: 90%;
        padding: 12px 15px;
        border: 1px solid rgba(255, 255, 255, 0.5); /* Đường viền nhẹ */
        border-radius: 5px; /* Bo góc input */
        background-color: transparent; /* Nền trong suốt */
        color: white; /* Màu chữ */
        font-size: 16px;

        &::placeholder {
          color: rgba(255, 255, 255, 0.7); /* Màu placeholder */
        }

        &:focus {
          outline: none; /* Loại bỏ viền mặc định */
          border-color: white; /* Đổi màu viền khi focus */
        }
      }
      
      .alert {
        background-color: #f8d7da;
        color: #721c24;
        padding: 10px;
        margin-top: 10px;
        border: 1px solid #f5c6cb;
        border-radius: 5px;
        font-size: 14px;
      }

      span {
        color: white;
        .register_page {
          &:hover {
            color: green;
          }
        }
      }

      button {
        padding: 12px;
        width: 100%;
        background-color: green;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: rgb(29, 78, 16); /* Đổi màu khi hover */
        }
      }
    }
  }
}
