.listItem {
  width: 225px;
  height: 120px;
  background-color: var(--main-color);
  margin-right: 20px; // Cách nhau 20px
  overflow: hidden;
  cursor: pointer;
  color: white;
  position: relative; // Giữ vị trí tương đối
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  // Phóng to toàn bộ khi hover
  &:hover {
    transform: scale(1.1); // Phóng to
    z-index: 10; // Đảm bảo hover không bị chồng lớp
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease; // Smooth zoom for image
  }

  video {
    width: 100%;
    height: 140px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; // Ẩn video mặc định
    transition: opacity 0.3s ease;
  }

  &:hover video {
    opacity: 1; // Hiện video khi hover
  }
}
