.navbar {
  width: 100%;
  color: white;
  font-size: 14px;
  position: fixed;
  top: 0;
  z-index: 999;
  background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);

  &.scrolled {
    background-color: var(--main-color);
  }

  .container {
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;

    .left {
      display: flex;
      align-items: center;

      span {
        margin-right: 20px;
        cursor: pointer;
        font-size: 20px;
        font-weight: 600;
        &:hover {
          color: #45a049; /* Màu khi hover */
          transform: translateY(-1px); /* Hiệu ứng di chuyển lên */
        }

        /* Hiệu ứng khi nhấn vào */
        &:active {
          color: #3e8e41; /* Màu khi nhấn */
          transform: translateY(0); /* Trả lại vị trí ban đầu */
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      .premium {
        padding: 10px 20px;
        background-color: green; /* Sử dụng màu xanh đậm hơn */
        color: white;
        font-size: 16px; /* Tăng kích thước chữ */
        font-weight: bold; /* Chữ đậm */
        border: none;
        border-radius: 5px; /* Làm tròn góc */
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Đổ bóng */
        transition: background-color 0.3s ease, transform 0.2s ease;
        /* Hiệu ứng khi di chuột */
        &:hover {
          background-color: #45a049; /* Màu khi hover */
          transform: translateY(-1px); /* Hiệu ứng di chuyển lên */
        }

        /* Hiệu ứng khi nhấn vào */
        &:active {
          background-color: #3e8e41; /* Màu khi nhấn */
          transform: translateY(0); /* Trả lại vị trí ban đầu */
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }
      }

      .search {
        display: flex;
        align-items: center;
        position: relative;

        .searchInput {
          width: 0;
          height: 30px;
          padding: 5px 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          transition: all 1.5s ease-in-out, opacity 1.5s ease-in-out;
          position: absolute; /* Đặt vị trí tương đối */
          left: 0; /* Ban đầu nằm bên cạnh icon */
          opacity: 0; /* Ban đầu ẩn */

          &.show {
            width: 200px; /* Đặt chiều rộng cho input */
            opacity: 1; /* Hiển thị rõ */
            left: -210px; /* Vị trí bên trái của icon */
          }
        }

        .icon {
          margin-left: 15px;
          margin-right: 15px;
          cursor: pointer;
          z-index: 10; /* Đảm bảo icon nằm trên input */
          &:hover {
            color: #45a049; /* Màu khi hover */
            transform: translateY(-1px); /* Hiệu ứng di chuyển lên */
          }
          &:active {
            color: #3e8e41; /* Màu khi nhấn */
            transform: translateY(0); /* Trả lại vị trí ban đầu */
          }
        }
      }

      img {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        object-fit: cover;
        cursor: pointer;
      }

      .profile {
        .options {
          display: none;
          background-color: var(--main-color);
          border-radius: 5px;
          .setting_account {
            border-bottom: 1px solid #414141;
            padding-bottom: 5px;
            &:hover {
              color: green;
            }
          }
        }

        span {
          padding: 10px;
          cursor: pointer;
        }

        &:hover {
          .options {
            display: flex;
            flex-direction: column;
            position: absolute;
          }
        }
      }
    }
  }
}
